@import url("fonts.css");

.container {
    max-width: 800px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

:root {
    --dark: #6e6464;
    --light: #c8c8c8;
}

pre, .md code, .md pre.tilde {
    background-color: rgb(10,10,10);
    padding: 0px;
    border: : 0px;
}

a, .md a {
    color: var(--light);
}

a:hover {
    color: rgb(255, 255, 255);
}

nav {
    margin: 0px 0 0 0;
    padding: 0px;
    justify-content: space-around;
    text-align: center;
}

nav ul li {
    /*display: flex;*/
    display: inline;
    margin: 0 5%; /* 20 is the space between */
    font-size: 175%;
    /*font-size: 2.7rem;*/
    margin-top: 0px;
    /*padding: 0px;*/
}

li a {
    color: var(--light);
}

.myname {
    font-weight: 500;
    /*font-size: 3.2rem;*/
    font-size: 50px;
    /*font-size: 400%;*/
    margin-bottom: 0px;
}

.myname, .myname a, .myname a:hover {
    /*color: rgb(100, 100, 100);*/
    color: var(--light);
    text-align: center;
}

/*.myname a:hover, .myname a:link, .myname a:visited, .myname a:active, .myname a{
.myname a:hover {
    color: var(--light);
}
*/

.selected {
    /*color: rgb(150, 150, 150)*/
    color: rgb(255, 255, 255);
    /*font-weight: 500;*/
    /*color: rgba(200, 200, 200, 0.2);*/
}

.title {
    font-size: 300%;
    font-weight: 500;
    color: var(--dark);
    /*color: rgba(200, 200, 200, 1);*/
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
}

.project_title {
    font-size: 30px;
    font-weight: normal;
    color: var(--light);
}

.project_description, .md {
    font-size: 20px;
}

.project_description a, .md a {
    /*color: rgb(200,100,15);*/
    /*color: rgb(150,150,150);*/
    font-weight: 500;
}

.project_description a:hover, .md a:hover {
    color: rgb(255, 255, 255);
}


a {
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

/*nav a:hover {
    text-decoration: none;
    color: rgb(255,255,255);
}*/

body {
    font-weight: 300;
    font-family: "SF Text", "Roboto", "Helvetica";
    color: var(--light);
    padding: 0px;
}

.md {
    font-family: "SF Text", "Roboto", "Helvetica";
    color: var(--light);
    padding: 0px;
}

.markdeep {
    font-weight: 300;
    font-size: 50px;
}

hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    /*border-top: 1px solid #c8c8c8;*/
    border-top: 1px solid var(--dark);
}

.header hr {
    margin-top: 1.0rem;
    margin-bottom: 0.0rem;
    color: rgba(200,200,200,1);
}

.footer hr {
    margin-top: 1.9rem;
    margin-bottom: 0.6rem;
    /*color: rgba(200,200,200,1);*/

}
.footer {
    opacity: 0.74;
}

/*h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 3.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 2.3rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }*/

.project_image {
    /*border: 1px solid #ccc;*/
    border-color: rgb(5,5,5);
    /*padding: 2px;*/
    /*margin: 7px 0;*/
    border-radius: 15px;
    width: 100%;
    height: auto;
}

/*.gallery-row img, .portrait img, .project-row img {
    border: 1px solid #ccc;
    border-color: rgb(0,0,0);
    padding: 2px;
    margin: 7px 0;
    border-radius: 8px;
    width: 100%;
    height: auto;
}*/

.article-img {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

.footer {
    margin: auto;
    text-align: center;
}

.footer ul li {
    list-style: none;
    display: inline-block;
}

/*pre > code {
    background: transparent;
    border: 1px solid #E1E1E1;
}*/

th, td {
    text-align: left;
    border-bottom: 1px solid #aaa;
    padding: 7px;
}
canvas {
    display: block;
    margin: auto;
    padding-top: 8mm;
    padding-bottom: 0mm;
}


.video-container {
	position:relative;
	padding-bottom:56.25%;
	padding-top:30px;
	height:0;
	overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

.feed-button {
    display: inline;
    vertical-align: middle;
    float: right;
    height: auto;
    width: 0.8em;
    margin: 0;
}
