/* Style sheet for Markdeep that corresponds closely to the default Latex article format 
   Put the following in your Markdeep document to use this:
 
   <link rel="stylesheet" href="https://casual-effects.com/markdeep/latest/dark.css">
*/


:root {
    --orange: #F06543;
}


/*@import url('https://fonts.googleapis.com/css?family=Teko:700');*/
@import url('https://fonts.googleapis.com/css?family=Teko:700');

@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}


@media screen {
body {
  /*background: #494f5c;*/
  color: rgb(200, 200, 200);
  background: rgb(30, 30, 40);
  /*background: rgb(0,0,0);*/
  /*background: #393e46;*/
  max-width: 80%;
  /*color: #e8eef2;*/
  /*font-family: Arial, Helvetica, "sans serif";*/
  /*font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;*/
  /*font-family: sans-serif;*/
  /*font-family: Droid Sans, "SF Text", "Roboto", "Helvetica";*/
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-size: 22px;  
  text-align: left;
}
}

hr {
  background: rgb(200,200,200);
  margin-top: 3%;
  /*height: 10px;*/
}

.md div.title {
  color: rgb(200, 200, 200);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 35px;  
  text-align: center;
}

.md a:link, .md a:visited{
  color:#6dafff;
  /*font-family: Arial, Helvetica, "sans serif";*/
}

/*.md hr {
  height: 0px;
  border: none;
  border-top: 0.1pt solid #777;
}*/

.md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
  color: rgb(200, 200, 200);
  border: none;
  /*font-family: Droid Sans;*/
  font-size: 150%;
  padding-bottom: 0px;
}

@media screen {
  .md h1, .md h2, .md h3, .md h4, .md h5, .md h6, .md div.nonumberh1, .md div.nonumberh2,.md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
/*    background: -webkit-linear-gradient(rgb(100, 100, 200), rgb(255, 255, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
  }
}

.md svg.diagram {
  stroke: #ccc;
  fill: #ccc;
}

.md svg.diagram .opendot {
  fill: #000;
}

.md .imagecaption {
  text-align: left;
  font-size: 75%;
}

video {
  width: 80%;
}

.md pre {
    border-radius: 15px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    padding: 5px 0 5px 20px;
    margin: 0 0 0 0;
    /*background: #FCFCFC;*/
    page-break-inside: avoid;
}

.md code {
  /*font-size: 5px;*/
  font-size: 18px;  
  font-family: droid sans mono;
}


.md .listing {
  background: rgb(20, 20, 30);
  color: rgb(200, 200, 200);
  /*font-family: */
  /*font-size: 5px;*/
}

.md .tilde code {
  color: rgb(200, 200, 200);
}

.md .backtick code {
  color: rgb(200, 200, 200);
}

div.markdeepFooter, div.markdeepFooter a {
  color: #bc9249 !important;
}

b, em.asterisk {
    font-style: normal; font-weight: bold;
}

@media screen {
    b, em.asterisk {
        color: #CBA;
    }
}

a em.asterisk {
    color: #6dafff;
}

.md h2, .md .nonumberh2 {
    font-size: 125%
}
.md h3, .md h4, .md h5, .md h6, .md div.nonumberh3, .md div.nonumberh4, .md div.nonumberh5, .md div.nonumberh6 {
    font-size: 115%
}

@media screen {
    .md table.table td {
        border: 1px solid #513302;
    }
    
    .md table.table th {
        background: #af730c;
        background: -webkit-linear-gradient(#d3a658, #af730c);
        border: none;
    }
    
    .md table.table th:last-child {
        border-right: 1px solid #845509;
    }
    
    .md table.table tr:nth-child(even) {
        background-color: #231601;
    }
}


/*.hljs-class .hljs-title, .smalltalk .hljs-class, .hljs-type, .hljs-typename, .hljs-tag .hljs-attribute, .hljs-doctype, .hljs-class .hljs-id, .hljs-built_in, .setting, .hljs-params, .clojure .hljs-attribute {
    color: rgb(100, 0, 0);
}*/


.hljs-params, .hljs-function .hljs-title {
  color: rgb(200, 200, 200);
}


.hljs-comment {
    color: rgb(120, 120, 120);
}

.hljs-keyword {
    color: rgb(255, 150, 0);
}


.hljs-built_in { /*like std::vector*/
    color: rgb(200, 200, 200);
}

.hljs-number, .hljs-literal {
    color: rgb(230, 150, 150);
}

.hljs-class .hljs-title{
    color: rgb(230, 230, 230);
}

.md .giacomo {
  text-align: center !important;
  /*color: #FF6B6B !important;*/
  color: #F06543 !important; 
  font-family: SF Display !important;
  font-size: 60px !important;  
  font-weight: bold;
  text-decoration: none !important;
}

.md .giacomo:hover {
  /*color: rgb(255, 0, 0) !important;*/
  color: rgb(255, 255, 255) !important;

}

.md a {
  /*color: #FF6B6B !important;*/
  color: #F06543 !important;
  text-decoration: none !important;
  /*font-family: 'Source Sans Pro', sans-serif;*/
}

.md a:hover {
  color: rgb(255, 255, 255) !important;
}

.md .MyTitle {
  font-size: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 5%;
}

.md .MySubtitle {
  font-size: 25px;
  margin-top: 1%;
  text-align: center;
}

.md .Projects, .About {
  color: rgba(200,200,200,0.5);
  font-size: 40;
  font-weight: bold;
}